h1 {
  text-align: center;
  color: cadetblue;
}

#fileUpload{
  background-color: cadetblue;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  padding: 24px;
  margin: 40px 0;
}

.file-form {
  align-items: center;
  border: 1px dashed darkcyan;
  border-radius: 6px;
  display: flex;
  flex-direction:column ;
  height: 230px;
  line-height: 44px;
  margin: 0 auto;
  margin-top: 30px 0;
  width: 30%;
}

.upload-btn {
  background-color: darkcyan;
  border-radius: 3px;
  border-style: none;
  color: white;
  font-size: 14px;
  padding: 10px 20px;
}

.img {
  margin-right: 20px;
  width: 30px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.item:last-child{
  margin-bottom: 20px;
}

.progress{
  background: white;
  margin-left: 16px;
  margin-right: 16px;
}

progress[value] {
  height: 10px;
}

progress::-webkit-progress-bar {
  background-color: #e7e7e7;
}

progress::-webkit-progress-value {
  background: rgb(12, 104, 107);
}

.fileList{
  border: 1px dashed  darkcyan;
  width: 34%;
  margin-left: auto;
  min-height: 180px;
  border-radius: 6px;
}

.upload-btn, .fileList {
  display: none;
}


